# various extensions left behind
*.sw[op]
*-
*-HEAD
*-git
*-patched
*-pristine
*.bak
*.cxx-*
*.git
*.hxx-*
*.log
*.orig
*.patched
*.pristine
*.pyc
*.rej
*~
.\#*
*.o
*.DS_Store

*.tar.gz
*.zip

/source/settings/linux.mk
/source/settings/win.mk
/source/settings/macos.mk

.build/
build/
bin/
*.kdev4
.kdev4*
